* {box-sizing:border-box}

* {
    font-family: Georgia, 'Times New Roman', Times, serif
}

.article-grid-cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 1.4em;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 0 4em 0;
}

.product-section-cart{
    padding: 1em 7em 1em 7em;
}

.products-title-cart{
    font-size: xx-large;
    font-weight: normal;
}

.product-section-carousel{
    padding: 1em;
}

.carousel-container {
    max-width: 40em;
    padding: 1em;
    position: relative;
    margin: auto;
}

.carousel-container .article {
    position: relative;
    padding: 0.6em;
    display: none;
    border-color: #98C9A3;
}

.products-title-carousel{
    font-size: xx-large;
    font-weight: normal;
    text-align: center;
    color: #98C9A3;
    margin-bottom: 1.5em;
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: 0 0 5em 30em;
    padding: 1em;
    color: #98C9A3;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin: 0 31.3em 5em 0;
    padding: 1em;
    color: #98C9A3;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover, .next:hover {
    background-color: #f9f9f9;
}

.dot {
    cursor: pointer;
    height: 0.9em;
    width: 0.9em;
    margin: 0 0.2em 2em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#removeFromCartBtn {
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 1px #98C9A3;
    margin-left: 20em;
    margin-top: 7em;
}

#buyCartBtn {
    position: relative;
    margin-left: 36.5em;
    background-color: #98C9A3;
    border-radius: 5px;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    border: none;
}

#calculateValueBtn {
    position: relative;
    margin-left: 35.5em;
    margin-bottom: 2em;
    background-color: #98C9A3;
    border-radius: 5px;
    padding: 0.5em;
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    border: none;
}

#loadingModal, #costModal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: #00000080; 
}

.modal-content {
    background-color: #fefefe;
    margin: 27em 0 0 45em;
    padding: 20px;
    border: 1px solid #888;
    width: 25em;
    text-align: center;
}

.modal-content-shipping {
    background-color: #fefefe;
    margin: 36em 0 0 47em;
    padding: 20px;
    border: 1px solid #888;
    width: 20em;
    text-align: center;
}

.modal-content-shipping p {
    font-size: larger;
    color: #98C9A3;
}

.spinner {
    border: 4px solid #00000080; 
    border-left-color: #98C9A3;
    border-radius: 50%;
    width: 2.5em; 
    height: 2.5em; 
    animation: spin 1s linear infinite;
    margin: 0 auto 1.25em auto; 
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
 
