body {
   min-height: 100svh;
   margin: 0;
   display: flex;
   flex-direction: column;
}

main {
   flex: 1;
}

.search-conjunction {
   display: flex;
   flex-direction: column;
   row-gap: 1em;
   margin-bottom: 2em
}

.preference-icon{
   display: flex;
   flex-direction: row;
   align-items: center;
   margin: 0 auto;
   cursor: pointer;
   padding: 0.5em;

   i {
      font-size: 1em;
   }
}

.preference-icon:hover{
   background-color: whitesmoke;
   border-radius: 5px;
}

.search-bar-wrapper{
   background-color: whitesmoke;
   border-radius: 5px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 0.5em;
   align-items: center;
   width: 25em;
   margin: 1.5em auto 0 auto;
   height: 2em;
}

.search-bar {
   border: none;
   outline: none;
   background-color: whitesmoke;
   width: 25em;
   height: 2em;
}

.article-grid {
   display: flex;
   flex-wrap: wrap;
   row-gap: 1em;
   column-gap: 0.4em;
}

.no-favorite-articles {
   display: flex;
   flex-direction: column;
   margin: auto auto;

   h2 {
      font-weight: normal;
   }

   a {
      margin: 0 auto;
   }

   button {
      background-color: #344e41;
      font-size: 1em;
      color: white;
      padding: 0.7em 1.2em;
      border: none;
      border-radius: 3px;
      cursor: pointer;
   }
}

.article {
   margin-right: 0.5em;
   border: 1px solid gray;
   border-radius: 3px;
}

.article-details {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   padding-right: 0.5em;
}

.article-details img {
   width: 1.5em;
   height: 1.5em;
   object-fit: cover;
}

.product-section {
   padding: 1em 6em;
}

.filter-choose {
   font-size: 0;
   button {
      margin: 0;
      border: none;
      padding: 1em;
      background-color: white;
      cursor: pointer;
   }
}

.filter-choose .active {
   border-bottom: 1px solid black;
}

.filter-section {
   display: flex;
   column-gap: 0.5em;
   justify-content: center;
}

.products-title {
   font-size: xx-large;
   font-weight: normal;
}

.no-product-section {
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   align-items: center;
}

.no-product-img {
   width: 15em;
}

.article h3 {
   margin: 0 0 0.5em 0.5em;
   font-size: small;
}

.article p { 
   margin: 0 0 0.5em 0.5em;
   font-size: small;
   color: #344e41;
   font-weight: bold;
}

.like-container {
   display: flex;
   flex-direction: row;
   align-items: center;
   column-gap: 0.2em;
}

.article .heart-icon {
   color: transparent;
   -webkit-text-stroke: 1px black;
   font-size: medium;
}

.article .number {
   margin: 0 0 0.1em 0;
}

.article .heart-icon, .article .number {
   display: inline-block;
   vertical-align: middle;
}

.filter-btn, .condition-btn {
   padding: 0.5em;
   font-size: 16px;
   color: #344e41;
   border: 1px solid #344e41;
   border-radius: 3px;
   background-color: white;
   margin-bottom: 0.5em;
}

.filter-btn:hover, .condition-btn:hover {
   background-color: whitesmoke;
   cursor: pointer;
}

@media (max-width: 850px) {
 .product-section {
      padding: 1em;
   }

 .products-title {
      font-size: x-large;
   }

   .no-favorite-articles h2 {
      font-size: large;
   }

}

@media (max-width: 480px) {

   .article-grid {
      justify-content: center;
   }

   .products-title {
      font-size: large;
   }
}

#messages article {
   display: flex;
   width: 30%;
   margin: 1em auto;
   border-radius: 5px;
   padding: 1em;
   color: white;
   justify-content: center;
 }
 
 #messages article.success {
   background-color: #DFF2BF;
 }
 
 #messages article.warning {
   background-color: #FEEFB3;
 }
 
 #messages article.error {
   background-color: #FFD2D2;
 }
 
 #messages article.info {
   background-color: #BDE5F8;
 }