* {
   font-family: Georgia, 'Times New Roman', Times, serif
}

.article-grid {
   display: flex;
   overflow-x: auto;
   white-space: nowrap;
}

.article {
   margin-right: 0.5em;
   border: 1px solid gray;
   border-radius: 3px;
}

.article-details {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.article-details img {
   width: 35px;
}

.product-section{
   padding: 1em 7em;
}

.products-title{
   font-size: xx-large;
   font-weight: normal;
}

.article h3 {
   margin: 0 0 0.5em 0.5em;
   font-size: small;
}

.article p { 
   margin: 0 0 0.5em 0.5em;
   font-size: small;
   color: #98C9A3;
   font-weight: bold;
}

.filter-btn {
   padding: 0.7em;
   font-size: 16px;
   color: #BFD8BD;
   border: 1px solid #98C9A3;
   border-radius: 1px;
   background-color: white;
}

.filter-btn:hover {
   background-color: whitesmoke;
   cursor: pointer;
}