#loginDialog {
  width: 300px;
  height: 350px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

#loginDialog p,  #createAccountDialog p{
  text-align: center;
  margin-top: 40px;
  font-weight:400;
}

#loginDialog #loginForm, #createAccountDialog #createAccountForm {
  text-align: center;
}

#loginDialog #loginForm input[type=email]::placeholder, #loginDialog #loginForm input[type=password]::placeholder,
#createAccountDialog #createAccountForm input[type=password]::placeholder, #createAccountDialog #createAccountForm input[type=email]::placeholder,
#createAccountDialog #createAccountForm input[type=text]::placeholder {
  color: #999;
}



#loginDialog #loginForm input[type=email],
#loginDialog #loginForm input[type=password],
#createAccountDialog #createAccountForm input[type=password],
#createAccountDialog #createAccountForm input[type=email],
#createAccountDialog #createAccountForm input[type=text] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    border-bottom: 2px solid lightblue;
}

#loginDialog #loginForm input[type=email]:focus,
#loginDialog #loginForm input[type=password]:focus,
#createAccountDialog #createAccountForm input[type=password]:focus,
#createAccountDialog #createAccountForm input[type=email]:focus,
#createAccountDialog #createAccountForm input[type=text]:focus  {
    border: 1px solid lightblue;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.close-button span {
  font-size: 30px;
  color: #555;
}

#loginBtn, #registerBtn {
  padding: 10px 20px;
  background-color: lightblue;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#createAccountDialog {
  height: 320px;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;

}

#loginDialog a {
  color: lightblue;
  text-decoration: none;
  cursor: pointer;
}
