.container {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 25em;
        height: 30em;
        object-fit: cover;
        border-radius: 5%;
    }
}

.product-column {
    display: flex;
    flex-direction: column;
    width: 22em;
    padding: 1em;
    margin: 1em;
    background-color: whitesmoke;
}

.separator {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0.8em 0 0.8em 0;
}

.price {
    font-size: 1.5em;
    margin: 0;
}

.name, .description, .category, .brand, .model, .size, .condition {
    margin: 0;
}

.description {
    margin-top: 1em;
}

.category, .brand, .model, .size, .condition {
    margin-top: 0.5em;
}

.description, .category, .brand, .model, .size, .condition {
    font-weight: normal;
    font-size: medium;
}

.product-btn{
    width: 100%;
    padding: 0.8em;
    margin: 0.4em 0;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

.product-btn-row{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;

    button {
        border: none;
        padding: 0.5em;
    }

    .rm-btn {
        border: 1px solid brown;
        color: brown;
    }
}

#buyBtn {
    color: white;
    background-color: #98C9A3;
    border: none;
}

#sendBtn {
    color: #98C9A3;
    border: 1px solid #98C9A3;
}

.fav-btn{
    color: grey;
    border: 1px solid grey;
}

form#addToCartForm {
    margin: 0;
}



