input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}

.product-image {
    width: 25em;
    height: 24em;
    object-fit: cover;
    border-radius: 5%;
}

.custom-promotion {
    text-align: center;
    outline: none;
    border: none;
    border: 1px solid #344e41;
    padding: 0.5em;
    border-radius: 5px;
    margin: 0 auto;
    width: 20%;
}

.promotion-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto 1em auto;
    cursor: pointer;
    padding: 0.4em;
    font-size: 0.9em;
 
    i {
       font-size: 1em;
    }
}

.default-promotions {
    display: flex;
    flex-direction: row;
    column-gap: 0.5em;
}

.promotion {
    background-color: whitesmoke;
    padding: 1em;
    border-radius: 5px;
    cursor: pointer;
}

.promotion.selected, .promotion:hover{
    background-color: lightgray;
}

.promotion-icon:hover{
    background-color: whitesmoke;
    border-radius: 5px;
}

.product-column {
    display: flex;
    flex-direction: column;
    width: 20em;
    padding: 1em;
    margin: 0 1em;
    background-color: whitesmoke;
}

.separator {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    margin: 0.8em 0 0.8em 0;
}

.price {
    font-size: 1.5em;
    margin: 0;
}

.name, .description, .category, .brand, .model, .size, .condition {
    margin: 0;
}

.description {
    margin-top: 1em;
}

.category, .brand, .model, .size, .condition {
    margin-top: 0.5em;
}

.description, .category, .brand, .model, .size, .condition {
    font-weight: normal;
    font-size: medium;
}

.product-btn{
    width: 100%;
    padding: 0.8em;
    margin: 0.4em 0;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

.product-btn-row{
    display: flex;
    justify-content: space-between;
    font-size: 0.8em;

    button {
        border: none;
        padding: 0.5em;
    }

    .rm-btn {
        border: 1px solid brown;
        color: brown;
    }
}

#buyBtn {
    color: white;
    background-color: #344e41;
    border: none;
}

#sendBtn {
    color: #344e41;
    border: 1px solid #344e41;
}

.fav-btn{
    color: grey;
    border: 1px solid grey;
}

form#addToCartForm {
    margin: 0;
}



