.info {
  display: grid;
  row-gap: 2.5em;
  padding: 2em;
}

.profile-article {
  border: none;
  border-radius: 3px;
  margin: 0.5em 1em 0 0;

}

.profile-article h3 {
  margin: 0 0 0.5em 0.5em;
  font-size: small;
}

.profile-article p { 
  margin: 0 0 0.5em 0.5em;
  font-size: small;
  color: #98C9A3;
}

.conjunction {
  display: flex;
  gap: 2em;
  flex-direction: column;
}

.info .left-side {
  display: flex;
  flex-direction: row;

  h2 {
    font-weight: normal;
    margin-bottom: 0;
  }

  h3 {
    font-weight: normal;
    margin-top: 0.2em;
  }

  h4 {
    margin-top: 0.2em;
    margin-bottom: 0;
    font-weight: normal;
  }

  .bios{
    display: flex;
    margin-left: 1em;
    flex-direction: column;
    justify-content: space-between;
  }

  button {
    margin-left: 2em;
  }

  img {
    width: 15em;
  }
}

.info .right-side {
  height: auto;
  width: 107em;
  justify-self: center;
  padding: 0.5em 0.5em 0.5em 0.5em;
  background-color: whitesmoke;
  border-radius: 5px;
}

.article-profile-grid {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.product-img {
  width: 16em;
  height: 20em;
  object-fit: cover;
  padding: 0.5em;
}